@use '@angular/material'as mat;

/* 文字顏色 */
$dark-primary-text: #333333;
$dark-secondary-text: #0095BA;
$dark-disabled-text: #666666;
$dark-dividers: #9E9E9E;
$dark-focused: #9E9E9E;
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

/* 主色 */
$aiii-primary-palette: (
  50: #e0f7fa, // 最淺
  100: #E5F4F8,
  200: #B2DFEA,
  300: #7FCADC,
  400: #4CB5CF,
  500: #0095BA,
  600: #0095BA,
  700: #0081A1,
  800: #0081A1,
  900: #006C87, // 最深
  A100: #B2DFEA, // A的好像更亮？
  A200: #4CB5CF,
  A400: #0095BA,
  A700: #006C87,
  contrast: (50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ));

/* 複色 */
$aiii-secondary-palette: (50: #e0f7fa, // 最淺
  100: #E5F4F8,
  200: #F5F5F5,
  300: #F5F5F5,
  400: #DADCE0,
  500: #DADCE0,
  600: #DADCE0,
  700: #DADCE0,
  800: #DADCE0,
  900: #DADCE0, // 最深
  A100: #F0FCFF, // A的好像更亮？
  A200: #F0FCFF,
  A400: #DBF8FF,
  A700: #DBF8FF,
  contrast: (50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-secondary-text,
    A200: $dark-secondary-text,
    A400: $dark-secondary-text,
    A700: $dark-secondary-text,
  ));

$aiii-warn-palette: (50: #FFDCDB,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #FF504E,
  600: #FF504E,
  700: #E64846,
  800: #CC403E,
  900: #CC403E,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ));




/* 套用調色盤 */
$aiii-theme-primary: mat.define-palette($aiii-primary-palette, 500, 700, 900); // 這邊可以自己決定顏色ＸＤ
$aiii-theme-accent: mat.define-palette($aiii-primary-palette, 600, 800, 900); // 默認、更深、更淺
$aiii-theme-warn: mat.define-palette(mat.$red-palette, 500);
$my-typography: mat.define-typography-config(
  $font-family: 'Comic Sans',
);

$aiii-theme: mat.define-light-theme((
  color: (primary: $aiii-theme-primary,
      accent: $aiii-theme-accent,
      warn: $aiii-theme-warn,
    ),
    typography: $my-typography
    ));

@include mat.core-theme($aiii-theme);
@include mat.all-component-themes($aiii-theme);
